body{
  color:  #00ff9d;
  background-image:url(unnamed.png);
  padding: 20px;
  
}
h1, h2{
  text-align: center;
  font-family: sans-serif;
  
  
}
.container{
  width: 80%;
  background-color: #0f0f1b;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-width: 515px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgb(43, 186, 252);
  padding-top: 10px;

}
.white{
  color: white;
}
.nion{
  font-style: italic;
  color: #00F5FF;
}
article p{
  display: inline-block;
  color:  #ff7a00;
  margin-top: 5px;
  
  
}
.name{
text-align: left;
width: 75%;
}
.price{
  text-align: right;
  width: 24%;
}
.masterpices{
  color: #00F5FF;
  font-style: italic;
}
.namee{
  text-align: left;
width: 75%;
color: blanchedalmond;
}
.pricee{
   text-align: right;
  width: 24%;
  color: wheat;
}
hr{
  background-color: crimson;
  border-color: crimson;
  height: 2px;
}
/* footer*/
footer p{
  text-align: center;
  padding-bottom: 15px;
  padding-top: 25px;
}
a{
  color: white;
}
a:hover{
  color: brown;
  transition: color 0.3s ease;
}
a:active{
  color: rgb(70, 16, 245);
}