/* .name{
 display: block;
margin-top: 9px;
  
}
.email{
margin-top: 10px;
}
.text{
  width: 200px;
  display: inline-block;
  margin-left: 180px;
  margin-top: 20px;
  vertical-align: middle;
  
}
.img{
  width: 300px;
  vertical-align:middle;
  margin-left: 120px;
}
.shadow-button{
        width: 500px;
        height: 40px;
        margin-left: 20px;
        margin-top: -20px;
        vertical-align: middle;
       border: none;
        background-color: white;
        border-radius: 30px;
        font-size: 15px;
       text-indent: 15px;
       box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15) ;} */
       .first{
       
       border-radius: 5px;
       border: 1px solid gray;
      width: 100px;
      height: 30px;
       text-indent: 10px;
       }
       .last{
         border-radius: 5px;
       border: 1px solid gray;
      width: 100px;
      height: 30px;
       text-indent: 10px;
       }
       .email{
        display: block;
        margin-top: 11px;
        border-radius: 5px;
       border: 1px solid gray;
      width: 210px;
      height: 30px;
       text-indent: 10px;
       }
       .sign-up{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        font-size: 15px;
        font-weight: bold;
        background-color: rgb(68, 111, 232);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 100px;
       }
       .pickup{
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 150px;
        padding-left: 15px;
        border: none;
        display: block;
        background-color: rgb(238, 235, 235);
        margin-bottom: 10px;

       }
      .destination{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 150px;
        padding-left: 15px;
        border: none;
        display: block;
        background-color: rgb(238, 235, 235);

      }
      .black{
        margin-top: 20px;
        height: 40px;
        width: 120px;
        background-color: black;
        color: white;
        margin-right: 15px;
        cursor: pointer;
      }
      .gray{
        height: 40px;
        width: 140px;
        border: none;
        background-color: rgb(238, 235, 235);
        cursor: pointer;
      }
      